.footer{
    background-color: black;
    padding: 50px 0px;
}

.footer-blocks{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--description);
    padding-bottom: 45px;
}

.footer-logo{
    display: flex;
    flex-wrap: wrap;
    max-width: 295px;
    height: 141px;
}

.footer-logo h1 {
    font-family: 'Manrope-Bold';
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.05em;

    margin-left: 15px;
    margin-top: 19px;
}

.footer-logo p{
    margin-top: 15px;
    font-family: 'Manrope-Regular';
    font-size: 15px;
    color: #a7a7a7;
}

/* LINKS */
.footer-students, .footer-contacts h1{
    font-family: 'Manrope-Bold';
    font-size: 20px;
    color: #fff;    
}

.footer-students-item {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.footer-students-item li{
    margin-top: 15px;
}

.footer-students-item a{
    display: inline-block;
    color: #a7a7a7;

    transition: all 0.2s ease-in;
}

.footer-students-item a:hover{
    color: #e2e2e2;
    transform: translateY(-2px);
}

.footer-students-item a:active{
    color: var(--accent);
    transform: translateY(-2px);
    transition: color 0s;   
}

/* CONTACTS */
.footer-contacts{
    display: flex;
    flex-direction: column;
}


.footer-contacts-list li, .footer-contacts-list a{
    display: block;
    font-family: 'Manrope-Regular';
    font-size: 16px;
    color: #a7a7a7;

    margin-top: 15px;

    transition: all 0.2s ease-in;
}

.footer-contacts a:hover{
    color: #e2e2e2;
    transform: translateY(-2px);
}

.footer-contacts a:active{
    color: var(--accent);
    transform: translateY(-2px);
    transition: color 0s;
}

.Copyright{
    max-width: 562px;
    margin: 0 auto;
    margin-top: 40px;

    font-family: 'Manrope-Regular';
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fff;
}


@media (max-width:850px){
    .footer-blocks{
        flex-direction: column;
        align-items: center;
        text-align: center;

        gap: 40px;
    }

    .footer-logo{
        justify-content: center;
    }

    .footer-contacts img {
        width: 15%;
        margin-top: 10px;
    }

    .Copyright{
        text-align: center;
    }
}